
<div class="container-fluid">
     <div style="height: 880px;" class="row">
        <div class="col-md-4">
           <ul class="list-group shadow p-3 mb-5 rounded ">
              <li class="list-group-item ">
                 <input type="text" class="form-control"(keyup)="search()" placeholder="Search here..."[(ngModel)]="searchTxt" name="searchText">
              </li>
              <li class="list-group-item list-group-item-action list-group-item-info" (click) = "assignReciever(user.Email)"
              [title] = "user.Email"*ngFor = "let user of userList"> {{ user.FirstNAME}}</li>
           </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
           <h2>{{ reciever }}</h2>
           <div class="well chat-box shadow p-3 mb-5  rounded ">
              <div   *ngFor = "let message of messageList">
                 <div *ngIf = "message.Reciever !== reciever" style="border: 1px black;" class =" talk-bubble tri-right left-top d-flex justify-content-start mb-4">
                    <div class =" talktext ">
                       {{message.Message}}
                    </div>
                 </div>
                 <div *ngIf = "message.Reciever == reciever" class ="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send" >
                       {{message.Message}}
                    </div>
                 </div>
                 <hr>
              </div>
             
   
           </div>
           <div style="display: flex;">
            <div class="input-group mb-3 messageInput">
               <input type="text" class="form-control" (keyup.Enter) = "SendMessage()" placeholder="Type Message..." aria-label="Recipient's username"  [(ngModel)]="message" name="message" aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <button class="btn btn-danger" (click)="SendMessage()" type="button">Button</button>
               </div>
             </div>
           </div>
                </div>
      
     </div>
</div>



