<br>
<br>

<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group list">
          <li class="list-group-item list-group-item list-group-item-dark">
            <input type="text" class="form-control" placeholder="Search here...">
          </li>

          <li class="list-group-item list-group-item list-group-item-light"  [title] = "user.Email"*ngFor = "let user of userList"> {{ user.FirstNAME}}</li>
      
        </ul>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div  class="well chat-box list-group-item list-group-item-info">
          <div class ="d-flex justify-content-start mb-4">
              <div class ="msg_cotainer">
                hii  whtsupp?
              </div>
          </div>
        <div class ="d-flex justify-content-end mb-4">
          <div class="msg_cotainer_send" >
           All gud wht abyt uh?
         </div>
        </div>
      </div>
        <div style="display: flex;">
          <input type="text" style="max-width: 870px;" placeholder="Type a message.." class="form-control shadow p-4 mb-4 bg-white">
        <svg  width="35" height="26" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>


        </div>
              </div>
    </div>
  </div>
</div>