
<div class="container mt-2 mb-4" style="height:860px;">
      <div class="row justify-content-md-center">
         <div class="col-sm-4 border border-primary shadow rounded pt-2">
            <div class="col-sm-12">
               <form class="AS">
                  <h1 style= "font:revert;">
                     REGISTER YOURSELF
                  </h1>
                  <div class ="user">
                     <label class="font-weight-bold">FirstName:<small class="text-danger"></small></label>
                     <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="EnterName"[(ngModel)] = "firstname" name="firstname" #firstname1="ngModel" required > 
                     <div *ngIf="firstname1.invalid && (firstname1.dirty || firstname1.touched)"
                        class="alert">
                        <div *ngIf="firstname1.errors?.['required']" class ="error">
                           Name is required.
                        </div>
                     </div>
                  </div>
                  <div class="eml">
                     <label class="font-weight-bold">Email:<small class="text-danger"></small></label>
                     <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" name="Email" required #emailRef = "ngModel" id="Email" class="form-control" placeholder="EnterEmailId" [(ngModel)] = "email" name = "email">
                     <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)"
                        class="alert">
                        <div *ngIf="emailRef.errors?.['required']" class="error">
                           Email is required
                        </div>
                        <div *ngIf="emailRef.errors?.['pattern']" class="error">
                           Email is invalid
                        </div>
                     </div>
                  </div>
                  <div class Psw>
                     <label class="font-weight-bold">Password:<small class="text-danger"></small></label>
                     <input (keyup)="checkPassword()" type="password" name="password" id="password" class="form-control" placeholder="Enter Password" [(ngModel)] = "password" name = "password "#password1="ngModel" required minlength="4" maxlength="8">
                     <div *ngIf="password1.invalid && (password1.dirty || password1.touched)"
                        class="alert">
                        <div *ngIf="password1.errors?.['required']" class="error">
                           password is required.
                        </div>
                        <div *ngIf="password1.errors?.['minlength']" class ="error" >
                           Password must be  4 character long.
                        </div>
                        <div *ngIf="password1.errors?.['maxlength']" class="error">
                           Password must be upto 8 character long.
                        </div>
                     </div>
                  </div>
                  <div>
                     <label class="font-weight-bold">Confirm Password:<small class="text-danger"></small></label>
                     <input  (keyup) = "checkPassword()" type="password" name="CPassword" id="CPassword" class="form-control" placeholder="" Id="CPassword"[(ngModel)]="confirmpassword" #Cpassword="ngModel" required minlength="4" maxlength="8">
                     <span *ngIf = "passwordMistmatch" class ="error">{{ passwordMistmatch }}</span>
                     <div *ngIf="Cpassword.invalid && (Cpassword.dirty || Cpassword.touched)"
                        class ="alert">
                        <div *ngIf="Cpassword.errors?.['required']" class ="error" >
                           Confirm password is required.
                        </div>
                        <div *ngIf="Cpassword.errors?.['minlength']" class ="error">
                           Confirm Password must be  4 character long.
                        </div>
                        <div *ngIf="Cpassword.errors?.['maxlength']" class ="error">
                           Confirm Password must be upto 8 character long.
                        </div>
                     </div>
                  </div>
                  <div>
                     <label class="font-weight-bold">PhoneNo:<small class="text-danger"></small></label>
                     <input pattern="([7|8|9])[0-9]{9}" type="number" name="phoneno" id="Phoneno" class="form-control" placeholder="phoneno" [(ngModel)] = "phoneNo" name = "phoneNo" #phoneno="ngModel" required maxlength="10"><br>
                     <div *ngIf="phoneno.invalid && (phoneno.dirty || phoneno.touched)"
                        class="alert">
                        <div *ngIf="phoneno.errors?.['required']" class="error">
                           phoneno is required.
                        </div>
                        <div *ngIf="phoneno.errors?.['pattern']" class ="error" >
                           phoneno is invalid
                        </div>
                     </div>
                  </div>
                  <div class ="text-center">
                     <button type="submit" class ="btn btn-primary" (click) = "registerUser()">Register me</button><br>
                  </div>
                  <div class ="text-center">
                     ........if you have an account then login .........<b></b><br>
                     <button class ="btn btn-info"(click)= "goToLogin()"> login</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>